<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{month}}月{{day}}日の収支</title>
</head>
<body>
    <h1>{{month}}月{{day}}日の収支</h1>
    <h3>{{sums.inc - sums.spe}}円</h3>
    <div>
        <h2>内訳</h2>
		{% for con in contents %}
			<h3>
			{% if con.income != NULL  %}
				+ {{ con.income }} 円
			{% else %}
				- {{ con.spending }} 円
			{% endif %}	
			</h3>
			<p>{{ con.subject }}</p>
			<p>
			{% for tag in con.tags %}
				#{{tag}} 
			{% endfor %}
			</p>
		{% endfor %}
    </div>
    <div>
        <h2>週間推移</h2>
        <p>グラフ挿入予定地</p>
        <br>
    </div>
    <div>
        <a href="regist.php">記帳する</a>
        <a href="home.php">Home</a>
    </div>
</body>
</html>