<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>ホーム画面</h1>
    <header>
        <a href="home.php">HOME</a>
        <a href="asset.php">総資産</a>
        <a href="income.php">総収入</a>
        <a href="spending.php">総支出</a>
        <a href="regist.php">記帳</a>
        <a href="tag_edit.php">タグ編集</a>
        <a href="setting.php">アカウント管理</a>
        <a href="logout.php">ログアウト</a>
    </header>
    
    <h2><a href="asset.php">総資産額</a></h2>
    <p>￥1,000,000</p>{# 未実装 #}
    <h2><a href="income.php">総収入</a></h2>
    <p>￥{{incomes}}</p>
    <h2><a href="spending.php">総支出</a></h2>
    <p>￥{{spendings}}</p>
    
    
    <div class="calendar-container">
        {{ ym }}
        <a href="home.php?ym={{prev}}">先月</a>
        <a href="home.php">当月</a>
        <a href="home.php?ym={{next}}">次月</a>
        
        <table class="cal_php" style="table-layout: fixed; width: 750px;border-collapse: collapse" border="1">
            <tr>
                {% for w, v in aryWeek %}
                    <th>{{v}}</th>
                {% endfor %}
            </tr>
				<tr>
				{% for f in 0..first_week %}{# 月初めの位置合わせ #}
					<td></td>
				{% endfor %}
				{% for d in 1..end_month %}
				
					{# 日付検索用文字列の作成 #}
					{% if d < 10 %}
						{% set day_format = (ym ~ "-0" ~ d) %} {# フォーマットを合わせる "~" は結合文字 #}
					{% else %}
						{% set day_format = (ym ~ "-" ~ d) %}
					{% endif %}
					
					{# 週末で改行 #}
					{% if((first_week + d) % 7 == 0 ) %}
				</tr>
				<tr>
					{% endif %}				
				<td>
						<a href="day_result.php?ymd={{ym}}-{{d}}">{{ d }}</a>
						{# contentsがあれば表示 #}
						{% for con in contents %}
							{% if(day_format == con['date']) %} 
								<p>{{ con['subject'] }}</p>
								<p>{{ con['income'] }}</p>
								<p>{{ con['spending'] }}</p>
							{% endif %}
						{% endfor %}
					</td>
				{% endfor %}
				</tr>
        </table>
  </div>
</body>
</html>