<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>総収入</title>
</head>
<body>
    
    <header>
        <a href="home.php">HOME</a>
        <a href="asset.php">総資産</a>
        <a href="income.php">総収入</a>
        <a href="spending.php">総支出</a>
        <a href="regist.php">記帳</a>
        <a href="tag_edit.php">タグ編集</a>
        <a href="setting.php">アカウント管理</a>
        <a href="logout.php">ログアウト</a>
    </header>

   
    <!--<h2><a href="asset.php">総資産</a></h2>
    <p>{{ (sums_all.inc - sums_all.spe) | number_format }}円</p>-->
    
    <h2>{% if 'income' == flag %}収入{% elseif 'spending' == flag %}支出{% endif %}</h2>
    <!--<p>￥200,000</p>-->
    <hr>

<form action="./{{ flag | e('url') }}.php" method="get">
	日付:<input type="date" name="from_date" value="{{ from_date }}">～<input type="date" name="to_date" value="{{ to_date }}"><br>
	科目名:(部分一致)<input type="text" name="subject_search" value={{ subject_search }}><br>
	タグ名:(部分一致)<input type="text" name="tag_search" value={{ tag_search }}><br>
	<button>検索する</button>
</form>
<hr>
<a href="./income.php?p=1">最初に戻る</a><br>

{% if 0 != before_page %}<a href="./{{ flag | e('url') }}.php?p={{ before_page | e('url') }}&{{ search_string_e }}&sort={{ sort|e('url') }}">前へ</a>{% endif %} 
	{# e('url')はエスケープ #}
{% if 0 != next_page %}<a href="./{{ flag | e('url') }}.php?p={{ next_page | e('url') }}&{{ search_string_e }}&sort={{ sort|e('url') }}">次へ</a>{% endif %}<br>


<table border="1">
<tr>
	<th>id
	<th>日付<a href="./{{ flag | e('url') }}.php?p={{ now_page|e('url') }}&{{ search_string_e}}&sort=date">▲</a> 
			<a href="./{{ flag | e('url') }}.php?p={{ now_page|e('url') }}&{{ search_string_e}}&sort=date_desc">▼</a>
	<th>科目<a href="./{{ flag | e('url') }}.php?p={{ now_page|e('url') }}&{{ search_string_e}}&sort=subject">▲</a> 
			<a href="./{{ flag | e('url') }}.php?p={{ now_page|e('url') }}&{{ search_string_e}}&sort=subject_desc">▼</a>
	<th>金額<a href="./{{ flag | e('url') }}.php?p={{ now_page|e('url') }}&{{ search_string_e}}&sort=amount">▲</a> 
			<a href="./{{ flag | e('url') }}.php?p={{ now_page|e('url') }}&{{ search_string_e}}&sort=amount_desc">▼</a>
	<th>タグ
{% for key, val in data %}
<tr>
	<td>{{ val.regist_id }}
	<td>{{ val.date }}
	<td>{{ val.subject }}
	<td>{% if 'income' == flag %}
			{{ val.income | number_format }}
		{% elseif 'spending' == flag %}
			{{ val.spending | number_format }}
		{% endif %}
		円
	<td>
	{% for k,v in val.tags %}
		#{{v}}
	{% endfor %}
	</td>
{% endfor %}
</table>
    
    <h2>グラフ挿入予定</h2>
    <ul>
        <li>月間推移</li>
        <li>その他もろもろ</li>
    </ul>
    
    <br>
    <a href="regist.php">記帳する</a> <br>
    <a href="home.php">Home</a>
</body>
</html>